* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
section {
  min-height: 100vh;
  background: $primary;
  color: $main-font;
}
@mixin center() {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.list-enter-active,
.list-leave-active {
  transition: 1s;
}
.list-enter,
.list-leave-to {
  transform: translateY(50px);
  position: absolute;
}
